/*------------ Header ------------*/
.header{
    width: 100%;
    background: #4E636C;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.contentHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}
.logo{
    border: none;
    padding: 0px;
    outline: none;
    min-width: fit-content;
    background: #6F848E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #E8E8E8;
}
.links{
    display: flex;
    justify-content: space-between;
}
.headerButton{
    border: none;
    padding: 0px;
    outline: none;
    background: #6F848E;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #E8E8E8;
}
.languageButtons{
    display: flex;
    justify-content: space-between;
}
#iconPT{
    background-image: url(../assets/icons/GoSquaredFlags/Brazil.png);
}
#iconEN{
    background-image: url(../assets/icons/GoSquaredFlags/United-States.png);
}
#iconES{
    background-image: url(../assets/icons/GoSquaredFlags/Spain.png);
}
.headerLanguageButton{
    border: none;
    padding: 0px;
    outline: none;
    background: #6F848E;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #E8E8E8;
}
.headerButtonStyle{
    width: 100%;
    display: flex;
    align-items: center;
}
.headerVerticalButtonStyle{
    background-color: #D9D9D9;
}
/*------------ Footer ------------*/
.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info{
    width: 100%;
    display: flex;
    justify-content: center;
    background: #5E747D;
}
.contactSiteMap{
    display: flex;
}
.contact{
    min-width:  50%;
}
.contact > h1 {
    margin: 0px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;

    /* White p1 */

    color: #E8E8E8;
}
.contact > p {
    margin: 0px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: #E8E8E8;
}
.contact > p > a {
    font-style: normal;
    font-style: normal;
    font-weight: 500;
    color: #00ACFF;
    text-decoration: underline;
}
.siteMap{
    display: flex;
    flex-direction: column;
    max-width:  50%;
}
.siteMap > h1 {
    margin: 0px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    /* White p1 */
    color: #E8E8E8;
}
.siteMap > a {
    margin: 0px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    /* White p1 */
    color: #00ACFF;
    text-decoration: underline;
}
.basicFooter{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6F848E;
}
.footerContent{
    display: flex;
    justify-content: space-between;
}
.footerContent > p{
    margin: 0px;
}
.footerContent > p:nth-child(1){
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    width: fit-content;
    /* White p1 */
    color: #E8E8E8;
}
.footerContent > a{
    font-style: normal;
    font-weight: 400;
    display: flex;
    width: fit-content;
    align-items: center;
    /* Azul a p1 */
    color: #00ACFF;
    text-decoration: underline;
}
/*------------ Project ------------*/
#preview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content:space-evenly;
    align-items: center;
    background: #4E636C;
    box-shadow: var(--default-box-shadow)
}
#preview:hover{
    transform: translate(-5%,-5%); /*Diferente do design de referencia*/
    transition-duration: 500ms;
}
#preview > h2 {
    width: 80%;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: var(--default-white);
}
.previewImg{
    background: #6F848E;
}
.project > h1{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    color: var(--default-white);
}
.project > a{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    color: var(--gray-g);
}
/*------------ ProjectGridElement ------------*/
.ProjectGridElement{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    background: var(--gray-d);
    box-shadow: var(--default-box-shadow);
}
.ProjectGridElement:hover{
    margin-bottom: 0px;
    transform: translate(-5%,-5%);
    transition-duration: 500ms;
}
.ProjectGridElement > h2 {
    width: 86.4%;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: var(--default-white);
}
.previewElement{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 86.4%;
    height: 75%;
    background: var(--gray-b);
}
.previewElement > h1{
    font-style: normal;
    font-weight: 400;
    color: var(--default-white);
}
.previewElementP{
    display: none;
    word-break: break-all;
    font-style: normal;
    font-weight: 700;
    color: var(--default-white);
    overflow: hidden;
}
.open{
    display: block;
}
.contentHeader{
    justify-content: center;
}
.logo{
    display: none;
}
.headerButton{
    display: none;
}
.languageButtons{
    display: none;
}
.links{
    display: none;
}
*{
    --base-resolution: 1920;
    --actual-resolution: 360;
    --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
}
@media (min-width: 375px) {
    *{
        --actual-resolution: 375;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
}
@media (min-width: 384px) {
    *{
        --actual-resolution: 384;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
}
@media (min-width: 500px) {
    *{
        --actual-resolution: 500;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
}
@media (min-width: 600px) {
    *{
        --actual-resolution: 600;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
}
@media (min-width: 640px) {
    *{
        --actual-resolution: 640;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
}
@media (min-width: 810px) {
    *{
        --actual-resolution: 810;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
}
@media (min-width: 900px) {
    *{
        --actual-resolution: 900;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
}
@media (min-width: 1024px) {
    *{
        --actual-resolution: 1024;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
    /*------------ Header ------------*/
    .contentHeader{
        justify-content: space-between;
    }
    .logo{
        display: flex;
    }
    .links{
        display: flex;
    }
    .headerButton{
        display: flex;
    }
    .languageButtons{
        display: flex;
    }
}
@media (min-width: 1200px) {
    *{
        --actual-resolution: 1200;
    }
}
@media (min-width: 1360px) {
    *{
        --actual-resolution: 1360;
    }
}
@media (min-width: 1440px) {
    *{
        --actual-resolution: 1440;
    }
}
@media (min-width: 1920px) {
    *{
        --actual-resolution: 1920;
    }
}
*{
    --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
}
@media (orientation: portrait) {
    *{
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution) * 1);
    }
}
* {
    --header-height: calc(94px * var(--mult-factor));
    --header-margin-bottom: calc(107px * var(--mult-factor));
    --contentHeader-width: calc(1678.43px * var(--mult-factor));
    --contentFooter-width: calc(1678.43px * var(--mult-factor));
    --logo-width: calc(344px * var(--mult-factor));
    --logo-height: calc(61px * var(--mult-factor));
    --logo-font-size: calc(34px * var(--mult-factor));
    --logo-line-height: calc(40px * var(--mult-factor));
    --links-width: calc(829px * var(--mult-factor));
    --links-max-width: calc(51.813rem * var(--mult-factor));

    --headerButton-width: calc(263px * var(--mult-factor));
    --headerButton-height: calc(61px * var(--mult-factor));
    --headerButton-font-size: calc(34px * var(--mult-factor));
    --headerButton-line-height: calc(40px * var(--mult-factor));
    --languageButtons-width: calc(223px * var(--mult-factor));
    --headerLanguageButton-width-height-border-radius: calc(61px * var(--mult-factor));
    --headerLanguageButton-font-size: calc(20px * var(--mult-factor));
    --headerLanguageButton-line-height: calc(24px * var(--mult-factor));
    --footer-margin-top: calc(172px * var(--mult-factor));
    --info-height: calc(217.45px * var(--mult-factor));
    --contactSiteMap-margin-top: calc(25px * var(--mult-factor));
    --contact-siteMap-h1-margin-bottom: calc(8px * var(--mult-factor));

    /* --contact-siteMap-h1-line-height: calc(36px * var(--mult-factor)); */
    /* --contact-siteMap-h1-font-size: calc(30px * var(--mult-factor));
    --contact-siteMap-h1-line-height: calc(30px * var(--mult-factor)); */
    --contact-siteMap-h1-font-size: calc(40px * var(--mult-factor));
    --contact-siteMap-h1-line-height: calc(40px * var(--mult-factor));

    --contact-siteMap-p-margin-bottom: calc(8px * var(--mult-factor));

    /* --contact-siteMap-p-font-size: calc(28px * var(--mult-factor));
    --contact-siteMap-p-line-height: calc(28px * var(--mult-factor)); */
    --contact-siteMap-p-font-size: calc(36px * var(--mult-factor));
    --contact-siteMap-p-line-height: calc(36px * var(--mult-factor));

    --contact-p-a-margin-left: calc(10px * var(--mult-factor));
    --siteMap-p-a-margin-left: calc(20px * var(--mult-factor));
    --basicFooter-height: calc(72.55px * var(--mult-factor));

    --footerContent-p-a-font-size: calc(30px * var(--mult-factor));
    --footerContent-p-a-line-height: calc(36px * var(--mult-factor));
    --footerContent-p-a-line-height: calc(30px * var(--mult-factor));

    --project-width: calc(772px * var(--mult-factor));
    --project-height: calc(627.5px * var(--mult-factor));
    --preview-height: calc(482.5px * var(--mult-factor));
    --preview-margin-bottom: calc(40px * var(--mult-factor));

    /* --previewImg-width: calc(667px * 1.1 * var(--mult-factor));
    --previewImg-height: calc(335.2369791666667px * 1.1 * var(--mult-factor)); */
    --previewImg-width: 80%;
    --previewImg-height: 72.80156767328848%;

    --project-h1-margin-bottom: calc(20px * var(--mult-factor));
    --project-h1-font-size: calc(50px * var(--mult-factor));
    --project-h1-line-height: calc(61px * var(--mult-factor));

    --project-a-font-size: calc(20px * var(--mult-factor));
    --project-a-line-height: calc(24px * var(--mult-factor));
    --project-a-font-size: calc(30px * var(--mult-factor));
    --project-a-line-height: calc(34px * var(--mult-factor));

    --ProjectGridElement-padding: calc(10px * var(--mult-factor));
    --ProjectGridElement-width: calc(526.81px * var(--mult-factor));
    --ProjectGridElement-height: calc(363.7px * var(--mult-factor));
    --ProjectGridElement-margin-bottom: calc(49px * var(--mult-factor));
    --ProjectGridElement-hover-width: calc(579.5px * var(--mult-factor));
    --ProjectGridElement-hover-height: calc(400.07px * var(--mult-factor));
    /* --ProjectGridElement-previewElement-h1-font-size: calc(30px * var(--mult-factor)); */
    --ProjectGridElement-previewElement-h1-font-size: calc(34px * var(--mult-factor));
    --ProjectGridElement-previewElement-h1-line-height: calc(40px * var(--mult-factor));
    --previewElement-h1-margin: calc(18px * var(--mult-factor));

    --project-a-2-font-size: calc(20px * 1.7 * var(--mult-factor));
    --project-a-2-line-height: calc(24px * 1.7 * var(--mult-factor));
    --project-grid-width-2: calc(796.5483333333333px * var(--mult-factor));
    --ProjectGridElement-2-h1-font-size: calc(10px * var(--mult-factor));
    --ProjectGridElement-2-h1-line-height: calc(12px * var(--mult-factor));
}
* {
    --header-height: calc(5.875rem * var(--mult-factor));
    --contentHeader-width: calc(104.902rem * var(--mult-factor));

    --logo-width: calc(21.5rem * var(--mult-factor));
    --logo-height: calc(3.813rem * var(--mult-factor));
    --logo-font-size: calc(2.125rem * var(--mult-factor));
    --logo-line-height: calc(2.125rem * var(--mult-factor));
    
    
    --headerButton-height: calc(3.813rem * var(--mult-factor));
    --headerButton-font-size: calc(2.125rem * var(--mult-factor));
    --headerButton-line-height: calc(2.5rem * var(--mult-factor));
    --languageButtons-width: calc(13.938rem * var(--mult-factor));
    --headerLanguageButton-width-height-border-radius: calc(3.813rem * var(--mult-factor));
    
    --info-height: calc(13.591rem * var(--mult-factor));
    --contactSiteMap-margin-top: calc(1.563rem * var(--mult-factor));
    --contact-siteMap-h1-margin-bottom: calc(0.5rem * var(--mult-factor));

    --contact-siteMap-h1-font-size: calc(2.5rem * var(--mult-factor));
    --contact-siteMap-h1-line-height: calc(2.5rem * var(--mult-factor));

    --contact-siteMap-p-margin-bottom: calc(0.5rem * var(--mult-factor));

    --contact-siteMap-p-font-size: calc(2.25rem * var(--mult-factor));
    --contact-siteMap-p-line-height: calc(2.25rem * var(--mult-factor));

    --contact-p-a-margin-left: calc(0.625rem * var(--mult-factor));
    --siteMap-p-a-margin-left: calc(1.25rem * var(--mult-factor));

    --footerContent-p-a-font-size: calc(1.875rem * var(--mult-factor));
    --footerContent-p-a-line-height: calc(1.875rem * var(--mult-factor));

    --ProjectGridElement-previewElement-h1-font-size: calc(2.125rem * var(--mult-factor));
    /* --ProjectGridElement-previewElement-h1-line-height: calc(2.5rem * var(--mult-factor)); */

    --project-a-2-font-size: calc(1.25rem * 1.7rem * var(--mult-factor));
    --project-a-2-line-height: calc(1.5rem * 1.7rem * var(--mult-factor));

    --ProjectGridElement-2-h1-font-size: calc(0.625rem * var(--mult-factor));
    --ProjectGridElement-2-h1-line-height: calc(0.75rem * var(--mult-factor));
}

/*------------ Header ------------*/
.header{
    min-height: fit-content;
    min-height: var(--header-height);
    margin-bottom: var(--header-margin-bottom);
}
.contentHeader{
    width: var(--contentHeader-width);
}
.logo{
    width: var(--logo-width);
    height: var(--logo-height);
    font-size: var(--logo-font-size);
    line-height: var(--logo-line-height);
}
.links{
    width: var(--links-width);
    max-width: var(--links-max-width);
}
.headerButton{
    width: var(--headerButton-width);
    max-width: calc(var(--links-max-width) / 3 - 1.25rem);/*O valor 1.25rem representa o espaçamento entre cada headerButton*/
    height: var(--headerButton-height);
    font-size: var(--headerButton-font-size);
    line-height: var(--headerButton-line-height);
}
.languageButtons{
    width: var(--languageButtons-width);
}
.headerLanguageButton{
    width: var(--headerLanguageButton-width-height-border-radius);
    height: var(--headerLanguageButton-width-height-border-radius);
    border-radius: var(--headerLanguageButton-width-height-border-radius);
    font-size: var(--headerLanguageButton-font-size);
    line-height: var(--headerLanguageButton-line-height);
}
/*------------ Footer ------------*/
.footer{
    margin-top: var(--footer-margin-top);
}
.info{
    height: var(--info-height);
}
.contactSiteMap{
    width: var(--contentFooter-width);
    margin-top: var(--contactSiteMap-margin-top);
}
.contact > h1,  .siteMap > h1 {
    margin-bottom: var(--contact-siteMap-h1-margin-bottom);
    font-size: var(--contact-siteMap-h1-font-size);
    line-height: var(--contact-siteMap-h1-line-height);
}
.contact > p, .siteMap > a {
    margin-bottom: var(--contact-siteMap-p-margin-bottom);
    font-size: var(--contact-siteMap-p-font-size);
    line-height: var(--contact-siteMap-p-line-height);
}
.contact > p > a {
    margin-left: var(--contact-p-a-margin-left);
}

.siteMap{
    margin-left: var(--siteMap-p-a-margin-left);
}

.basicFooter{
    height: var(--basicFooter-height);
}
.footerContent{
    width: var(--contentFooter-width);
}
.footerContent > p, .footerContent > a{
    font-size: var(--footerContent-p-a-font-size);
    line-height: var(--footerContent-p-a-line-height);
}
/*------------ Project ------------*/
.project{
    width: var(--project-width);
    height: var(--project-height);
}
.previewImg{
    width: var(--previewImg-width);
    height: var(--previewImg-height);
}
.project > h1{
    margin-bottom: var(--project-h1-margin-bottom);
    font-size: var(--project-h1-font-size);
    line-height: var(--project-h1-line-height);
}
.project > a{
    font-size: var(--project-a-font-size);
    line-height: var(--project-a-line-height);
}
/*------------ ProjectGridElement ------------*/
.ProjectGridElement{
    padding-top: var(--ProjectGridElement-padding);
    padding-bottom: var(--ProjectGridElement-padding);
}
@media (min-width: 0px) {
    *{
        --2-ProjectGridElement-previewElement-h1-font-size: calc(50px * 1 * var(--mult-factor));
        --2-ProjectGridElement-previewElement-h1-line-height: calc(61px * 1 * var(--mult-factor));
        --2-ProjectGridElement-previewElement-h1-line-height: calc(50px * 1 * var(--mult-factor));

    }
    *{
        --2-ProjectGridElement-previewElement-h1-font-size: calc(3.125rem * 1 * var(--mult-factor));
        --2-ProjectGridElement-previewElement-h1-line-height: calc(3.813rem * 1 * var(--mult-factor));
        --2-ProjectGridElement-previewElement-h1-line-height: calc(3.125rem * 1 * var(--mult-factor));
    }
    @media (orientation: portrait) {
        *{
            --2-ProjectGridElement-previewElement-h1-font-size: calc(50px * 1.4 * var(--mult-factor));
            --2-ProjectGridElement-previewElement-h1-line-height: calc(61px * 1.4 * var(--mult-factor));
            --2-ProjectGridElement-previewElement-h1-line-height: calc(50px * 1.4 * var(--mult-factor));
            
            --ProjectGridElement-previewElement-h1-font-size: calc(50px * 1 * var(--mult-factor));
            --ProjectGridElement-previewElement-h1-line-height: calc(61px * 1 * var(--mult-factor));
            --ProjectGridElement-previewElement-h1-line-height: calc(50px * 1 * var(--mult-factor));

            --contact-siteMap-h1-font-size: calc(30px * 1.4 * var(--mult-factor));
            --contact-siteMap-h1-line-height: calc(36px * 1.4 * var(--mult-factor));
            --contact-siteMap-h1-line-height: calc(30px * 1.4 * var(--mult-factor));

            --contact-siteMap-p-font-size: calc(28px * 1.4 * var(--mult-factor));
            --contact-siteMap-h1-line-height: calc(36px  * 1.4 * var(--mult-factor));
            --contact-siteMap-h1-line-height: calc(28px  * 1.4 * var(--mult-factor));

            --footerContent-p-a-font-size: calc(30px * 1.4 * var(--mult-factor));
            --footerContent-p-a-line-height: calc(36px * 1.4 * var(--mult-factor));
            --footerContent-p-a-line-height: calc(30px * 1.4 * var(--mult-factor));
        }
        *{
            --2-ProjectGridElement-previewElement-h1-font-size: calc(3.125rem * 1.4 * var(--mult-factor));
            --2-ProjectGridElement-previewElement-h1-line-height: calc(3.813rem * 1.4 * var(--mult-factor));
            --2-ProjectGridElement-previewElement-h1-line-height: calc(3.125rem * 1.4 * var(--mult-factor));
            
            --ProjectGridElement-previewElement-h1-font-size: calc(3.125rem * 1 * var(--mult-factor));
            --ProjectGridElement-previewElement-h1-line-height: calc(3.813rem* 1 * var(--mult-factor));
            --ProjectGridElement-previewElement-h1-line-height: calc(3.125rem * 1 * var(--mult-factor));

            --contact-siteMap-h1-font-size: calc(1.875rem * 1.4 * var(--mult-factor));
            --contact-siteMap-h1-line-height: calc(2.25rem * 1.4 * var(--mult-factor));
            --contact-siteMap-h1-line-height: calc(1.875rem * 1.4 * var(--mult-factor));

            --contact-siteMap-p-font-size: calc(1.75rem * 1.4 * var(--mult-factor));
            --contact-siteMap-h1-line-height: calc(2.25rem * 1.4 * var(--mult-factor));
            --contact-siteMap-h1-line-height: calc(1.75rem * 1.4 * var(--mult-factor));

            --footerContent-p-a-font-size: calc(1.875rem * 1.4 * var(--mult-factor));
            --footerContent-p-a-line-height: calc(2.25rem * 1.4 * var(--mult-factor));
            --footerContent-p-a-line-height: calc(1.875rem * 1.4 * var(--mult-factor));
        }
        /*------------ Footer ------------*/
        .info{
            height: fit-content;
            padding-bottom: var(--contactSiteMap-margin-top);
        }
    }
    /*------------ Project ------------*/
    #preview{
        width:  var(--about-featuredProjects-h1-p-width);
        height: calc(var(--about-featuredProjects-h1-p-width) / 1.846394984326019);
        margin-bottom: calc(calc(var(--about-featuredProjects-h1-p-width) / 1.846394984326019) * 0.1);
    }
    #preview:hover{
        width:  calc(var(--about-featuredProjects-h1-p-width)* 1.1);
        height: calc(calc(var(--about-featuredProjects-h1-p-width) / 1.846394984326019) * 1.1);
        margin-bottom: 0px;
    }

    #preview > h2 {
        font-size: var(--2-ProjectGridElement-previewElement-h1-font-size);
        line-height: var(--2-ProjectGridElement-previewElement-h1-line-height);
    }

    /*------------ ProjectGridElement ------------*/
    .ProjectGridElement{
        width: var(--project-grid-width-2);
        height: calc(var(--project-grid-width-2) / 1.449280994947532);
        margin-bottom: calc(calc(var(--project-grid-width-2) / 1.449280994947532) * 0.1);
    }
    .ProjectGridElement:hover{
        width: calc(var(--project-grid-width-2) * 1.1);
        height: calc(calc(var(--project-grid-width-2) / 1.449280994947532) * 1.1);
        margin-bottom: 0px;
    }
    .ProjectGridElement > h2 {
        font-size: var(--ProjectGridElement-previewElement-h1-font-size);
        line-height: var(--ProjectGridElement-previewElement-h1-line-height);
    }
}
@media (min-width: 640px) {
    @media (orientation: portrait) {
        *{
            --2-ProjectGridElement-previewElement-h1-font-size: calc(50px * 1 * var(--mult-factor));
            --2-ProjectGridElement-previewElement-h1-line-height: calc(61px * 1 * var(--mult-factor));
            --2-ProjectGridElement-previewElement-h1-line-height: calc(50px * 1 * var(--mult-factor));

            --ProjectGridElement-previewElement-h1-font-size: calc(34px * var(--mult-factor));
            --ProjectGridElement-previewElement-h1-line-height: calc(40px * var(--mult-factor));
            --ProjectGridElement-previewElement-h1-line-height: calc(34px * var(--mult-factor));
        }
        *{
            --2-ProjectGridElement-previewElement-h1-font-size: calc(3.125rem * 1 * var(--mult-factor));
            --2-ProjectGridElement-previewElement-h1-line-height: calc(3.813rem * 1 * var(--mult-factor));
            --2-ProjectGridElement-previewElement-h1-line-height: calc(3.125rem * 1 * var(--mult-factor));

            --ProjectGridElement-previewElement-h1-font-size: calc(2.125rem * var(--mult-factor));
            --ProjectGridElement-previewElement-h1-line-height: calc(2.5rem * var(--mult-factor));
            --ProjectGridElement-previewElement-h1-line-height: calc(2.125rem * var(--mult-factor));
        }
    }
    /*------------ Project ------------*/
    #preview{
        width: 100%;
        height: var(--preview-height);
        margin-bottom: var(--preview-margin-bottom);
        margin-bottom: calc(var(--preview-height) * 0.1);
    }
    #preview:hover{
        width:  calc(100% * 1.1);
        height: calc(var(--preview-height) * 1.1);
        margin-bottom: 0px;
    }
    /*------------ ProjectGridElement ------------*/
    .ProjectGridElement{
        width: var(--ProjectGridElement-width);
        height: calc(var(--ProjectGridElement-width) / 1.448474017047017);
        margin-bottom: calc(var(--ProjectGridElement-width) / 1.448474017047017 * 0.1);
    }
    .ProjectGridElement:hover{
        width: calc(var(--project-grid-width) * 1.1);
        height: calc(var(--ProjectGridElement-width) / 1.448474017047017 * 1.1);
        margin-bottom: 0px;
    }
}
