/*------------ Perfil ------------*/
.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#photo{
    background: var(--gray-b);
    box-shadow: var(--default-box-shadow);
    background: url("../assets/imgs/fotoDePerfilLinkedinNova.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.perfil > h1{
    display: flex;
    align-items: center;
    text-align: center;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    color: var(--gray-g);
}
.perfil > p{
    display: flex;
    align-items: center;
    text-align: center;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    color: var(--gray-g);
}
.socialMedias{
    display: flex;
}
.socialIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gray-b);
    box-shadow: var(--default-box-shadow);
}
.socialIcon > svg {
    font-size: inherit;
    height: 65%;
    overflow: visible;
    vertical-align: -.125em;
}
/*------------ About ------------*/
#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--gray-d);
}
#about > h1{
    display: flex;
    align-items: center;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    color: var(--default-white);
}
#about > p{
    display: flex;
    align-items: center;
    text-align: left;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    color: var(--default-white);
}
/*------------ Featured projects ------------*/
#featuredProjects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleSeeMoreRegion{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.titleSeeMoreRegion h1{
    display: flex;
    align-items: center;
    margin: 0px;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    color: var(--default-white);
}
.seeMore {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--gray-g);
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    color: var(--gray-e);
}
#featuredProjects > .content{
    display: grid;
}
*{
    --base-resolution: 1920;
    --actual-resolution: 360;
    --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
}
@media (min-width: 640px) {
    *{
        --actual-resolution: 640;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
}
@media (min-width: 900px) {
    *{
        --actual-resolution: 800;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
}
@media (min-width: 1024px) {
    *{
        --actual-resolution: 1024;
        --mult-factor: calc(1024/1920);
    }
}
@media (min-width: 1200px) {
    *{
        --actual-resolution: 1200;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
}
@media (min-width: 1360px) {
    *{
        --actual-resolution: 1360;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
}
@media (min-width: 1440px) {
    *{
        --actual-resolution: 1440;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
}
@media (min-width: 1920px) {
    *{
        --actual-resolution: 1920;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
}
*{
    --perfil-width: calc(879.52px * var(--mult-factor));
    --perfil-height: calc(617.1px * var(--mult-factor));
    --perfil-margin-bottom: calc(265px * var(--mult-factor));
    --photo-width-height: calc(272.57px * var(--mult-factor));
    --photo-margin-bottom: calc(18px * var(--mult-factor));
    --photo-border-radius: calc(272.57px * var(--mult-factor));
    --perfil-h1-font-size: calc(64px * var(--mult-factor));
    --perfil-h1-line-height: calc(77px * var(--mult-factor));
    --perfil-p-margin-y: calc(49px * var(--mult-factor));
    --perfil-p-font-size: calc(32px * var(--mult-factor));
    --perfil-p-line-height: calc(39px * var(--mult-factor));
    --socialIcon-width-height: calc(112.4px * var(--mult-factor));
    --socialIcon-margin-x: calc(14px * var(--mult-factor));
    --socialIcon-border-radius: calc(80px * var(--mult-factor));
    --about-height: calc(290px * var(--mult-factor));
    --about-margin-bottom: calc(100px * var(--mult-factor));
    --about-featuredProjects-h1-p-width: calc(1678.43px * var(--mult-factor));
    --about-h1-margin-bottom: calc(10px * var(--mult-factor));
    --about-h1-p-font-size: calc(40px * var(--mult-factor));
    --about-h1-p-line-height: calc(48px * var(--mult-factor));
    --featuredProjects-height: calc(1473.5px * var(--mult-factor));
    --titleSeeMoreRegion-margin-bottom: calc(40px * var(--mult-factor));
    --titleSeeMoreRegion-h1-font-size: calc(50px * var(--mult-factor));
    --titleSeeMoreRegion-h1-line-height: calc(61px * var(--mult-factor));
    --seeMore-width: calc(352.73px * var(--mult-factor));
    --seeMore-height: calc(105px * var(--mult-factor));
    --seeMore-font-size: calc(30px * var(--mult-factor));
    --seeMore-line-height: calc(36px * var(--mult-factor));
    --project-width: calc(780px * var(--mult-factor));
    --featuredProject-content-column-gap: calc(118px * var(--mult-factor));
    --featuredProject-content-row-gap: calc(96px * var(--mult-factor));
}

/*------------ Perfil ------------*/
.perfil{
    width: var(--perfil-width);
    height: var(--perfil-height);
    margin-bottom: var(--perfil-margin-bottom);
}
#photo{
    width: var(--photo-width-height);
    height: var(--photo-width-height);
    margin-bottom: var(--photo-margin-bottom);
    border-radius: var(--photo-border-radius);
}
.perfil > h1{
    font-size: var(--perfil-h1-font-size);
    line-height: var(--perfil-h1-line-height);
}
.perfil > p{
    margin-top: var(--perfil-p-margin-y);
    margin-bottom: var(--perfil-p-margin-y);
    font-size: var(--perfil-p-font-size);
    line-height: var(--perfil-p-line-height);
}
.socialIcon{
    width: var(--socialIcon-width-height);
    height: var(--socialIcon-width-height);
    margin-left: var(--socialIcon-margin-x);
    margin-right: var(--socialIcon-margin-x);
    border-radius: var(--socialIcon-border-radius);
}
/*------------ About ------------*/
#about{
    height: var(--about-height);
    margin-bottom: var(--about-margin-bottom);
}
#about > h1{
    width: var(--about-featuredProjects-h1-p-width);
    margin-bottom: var(--about-h1-margin-bottom);
    font-size: var(--about-h1-p-font-size);
    line-height: var(--about-h1-p-line-height);
}
#about > p{
    width: var(--about-featuredProjects-h1-p-width);
    font-size: var(--about-h1-p-font-size);
    line-height: var(--about-h1-p-line-height);
}
/*------------ Featured projects ------------*/
#featuredProjects{
    width: var(--about-featuredProjects-h1-p-width);
    height: var(--featuredProjects-height);
}
.titleSeeMoreRegion{
    margin-bottom: var(--titleSeeMoreRegion-margin-bottom);
}
.titleSeeMoreRegion h1{
    font-size: var(--titleSeeMoreRegion-h1-font-size);
    line-height: var(--titleSeeMoreRegion-h1-line-height);
}
.seeMore {
    width: var(--seeMore-width);
    height: var(--seeMore-height);
    font-size: var(--seeMore-font-size);
    line-height: var(--seeMore-line-height);
}
#featuredProjects > .content{
    grid-template-columns: repeat(2,var(--project-width));
    column-gap: var(--featuredProject-content-column-gap);
    row-gap: var(--featuredProject-content-row-gap);
}
@media (min-width: 0px) {
    /*------------ Featured projects ------------*/
    #featuredProjects{
        height: fit-content;
    }
    #featuredProjects > .content{
        grid-template-columns: repeat(1,100%);
        column-gap: 0px;
        row-gap: 18px;
        width: 100%;
    }
}
@media (min-width: 640px) {
    #featuredProjects{
        width: var(--about-featuredProjects-h1-p-width);
        height: var(--featuredProjects-height);
    }
    #featuredProjects > .content{
        grid-template-columns: repeat(2,var(--project-width));
        column-gap: var(--featuredProject-content-column-gap);
        row-gap: var(--featuredProject-content-row-gap);
    }
}