.icon{
    display: block;
    width: 70%;
    height: 70%;
    background-size: cover;
}
.IconStyle{
    margin-right: 8px;
    margin-right: 0.5rem;
}
.Img{
    background: #6F848E;
}
.azzteck{
    background: url("../assets/imgs/azzteck.png");
}
.calculadoraReact{
    background: url("../assets/imgs/calculadoraReact.png");
}
.calculadoraVue{
    background: url("../assets/imgs/calculadoraVue.png");
}
.crudHomeReact{
    background: url("../assets/imgs/crudHomeReact.png");
}
.deliciasMarinhas{
    background: url("../assets/imgs/deliciasMarinhas.png");
}
.geradorQRCode{
    background: url("../assets/imgs/geradorQRCode.png");
}
.jogoDaVelha{
    background: url("../assets/imgs/jogoDaVelha.png");
}
.montyHall{
    background: url("../assets/imgs/montyHall.png");
}
.mostUsedWordsElectron{
    background: url("../assets/imgs/mostUsedWordsElectron.png");
}
.relogioAnalogico{
    background: url("../assets/imgs/relogioAnalogico.png");
}
.flappyBird{
    background: url("../assets/imgs/siteFlappyBird.png");
}
.buttonExpandMenu{
    display: none;
    /* color: #D9D9D9; */
    /* width: 25px;*/
    /* height: 10px; */
    /* background: url("../assets/imgs/buttonExpandMenu.png"); */
}
.Img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background: #6F848E; */
}
@media (min-width: 0px) {
    .buttonExpandMenu{
        display: flex;
    }
    .icon{
        width: 24px;
        height: 24px;
        width: 1.5rem;
        height: 1.5rem;
    }
}
@media (min-width: 1024px) {
    .buttonExpandMenu{
        display: none;
    }
    .icon{
        width: 70%;
        height: 70%;
    }
}