.projectGrid{
    display: grid;
    /* grid-template-columns: repeat(3,486.67px);
    column-gap: 115px; */
}
/* .footerAdjust{
    margin-top: 57px;
} */
*{
    --base-resolution: 1920;
    --actual-resolution: 360;
    /* --mult-factor: calc(var(--actual-resolution)/var(--base-resolution)); */
}
@media (min-width: 375px) {
    *{
        --actual-resolution: 375;
        /* --mult-factor: calc(var(--actual-resolution)/var(--base-resolution)); */
    }
}
@media (min-width: 384px) {
    *{
        --actual-resolution: 384;
        /* --mult-factor: calc(var(--actual-resolution)/var(--base-resolution)); */
    }
}
@media (min-width: 500px) {
    *{
        --actual-resolution: 500;
    }
}
@media (min-width: 600px) {
    *{
        --actual-resolution: 600;
        /* --mult-factor: calc(var(--actual-resolution)/var(--base-resolution)); */
    }
}
@media (min-width: 640px) {
    *{
        --actual-resolution: 640;
        /* --mult-factor: calc(var(--actual-resolution)/var(--base-resolution)); */
    }
}
@media (min-width: 810px) {
    *{
        --actual-resolution: 810;
        /* --mult-factor: calc(var(--actual-resolution)/var(--base-resolution)); */
    }
}
@media (min-width: 900px) {
    *{
        --actual-resolution: 900;
        /* --mult-factor: calc(var(--actual-resolution)/var(--base-resolution)); */
    }
}
@media (min-width: 1024px) {
    *{
        --actual-resolution: 1024;
        /* --mult-factor: calc(var(--actual-resolution)/var(--base-resolution)); */
    }
}
@media (min-width: 1200px) {
    *{
        --actual-resolution: 1200;
        /* --mult-factor: calc(var(--actual-resolution)/var(--base-resolution)); */
    }
}
@media (min-width: 1360px) {
    *{
        --actual-resolution: 1360;
        /* --mult-factor: calc(var(--actual-resolution)/var(--base-resolution)); */
    }
}
@media (min-width: 1440px) {
    *{
        --actual-resolution: 1440;
        /* --mult-factor: calc(var(--actual-resolution)/var(--base-resolution)); */
    }
}
@media (min-width: 1920px) {
    *{
        --actual-resolution: 1920;
        /* --mult-factor: calc(var(--actual-resolution)/var(--base-resolution)); */
    }
}
*{
    --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
}
@media (orientation: portrait) {
    *{
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution) * 1);
    }
}
*{
    --project-grid-width: calc(526.81px * var(--mult-factor));
    --project-grid-width-2: calc(796.5483333333333px * var(--mult-factor));
    --project-grid-column-gap: calc(49px * var(--mult-factor));
    --project-grid-column-gap-2: calc(85.33333333333333px * var(--mult-factor));
    --footerAdjust-margin: calc(123px * var(--mult-factor));
    --ProjectGridElement-margin-bottom: calc(49px * var(--mult-factor));
}
.projectGrid{
    grid-template-columns: repeat(3,var(--project-grid-width));
    column-gap: var(--project-grid-column-gap);
}
.footerAdjust{
    margin-top: var(--footerAdjust-margin);
}

@media (min-width: 0px) {
    .projectGrid{
        grid-template-columns: repeat(2,var(--project-grid-width-2));
        column-gap: var(--project-grid-column-gap-2);
    }
}
@media (min-width: 640px) {
    .projectGrid{
        grid-template-columns: repeat(3,var(--project-grid-width));
        column-gap: var(--project-grid-column-gap); 
    }
}