.headerAdjust{
    margin-bottom: 0px;
}
#ProjectPreview{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.iconRegion{
    display: flex;
    justify-content: flex-end;
}
.Icon{
    background-color: var(--default-white);
}
.backIcon{
    background: url("../assets/icons/Back.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#ProjectPreviewContent{
    display: flex;
    width: 100%;
    min-height: 60vh;
    background: var(--gray-d);
    box-shadow: var(--default-box-shadow)
}
#ProjectPreviewContent > .preview{
    width: 50%;
    height: 100%;
}
.descriptionRegion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    background: #6F848E;
}
.description > .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    max-width: 100%;
    max-height: 100%;
    color: var(--default-white);
}
.description > .content > h1{
    display: flex;
    align-items: center;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    color: inherit;
}
.description > .content > p:nth-child(2){
    display: flex;
    align-items: center;
    word-break: break-all;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    color: inherit;
}
.description > .content > p:nth-child(3){
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: inherit;
}
.description > .content > p:nth-child(4){
    display: flex;
    align-items: center;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    color: inherit;
}
.regionButton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.regionButton > a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    color: var(--gray-f);
    background: var(--gray-g);
    filter: drop-shadow(var(--default-box-shadow));
}
.regionButton > a:hover{
    color: var(--gray-f);
    background: var(--gray-g);
    cursor: pointer;
}
@media (min-width: 0px) {
    .iconRegion{
        margin-right: 33px;
        margin-top: 11px;
        margin-bottom: 11px;
    }
    .Icon{
        width: 20px;
        height: 20px;
    }
    #ProjectPreviewContent{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 295.04px;
        min-height: 5vh;/*Verificar!*/
    }
    #ProjectPreviewContent > .preview{
        width: 314px;
        height: 158px;
        margin-bottom: 10px;
    }
    .descriptionRegion{
        width: 314px;
        height: fit-content;
    }
    .description{
        width: 100%;
        height: 109.04px;
        padding-left: 9.38px;
        padding-right: 9.38px;
    }
    .description > .content{
        width: fit-content;
        height: 89.55px;
    }
    .description > .content > h1{
        height: 12px;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 0.94px;
    }
    .description > .content > p:nth-child(2){
        width: fit-content;
        margin-bottom: 0.94px;
        font-size: 10px;
        line-height: 12px;
    }
    .description > .content > p:nth-child(3){
        width: fit-content;
        margin-bottom: 0.94px;
        font-size: 10px;
        line-height: 12px;
    }
    .description > .content > p:nth-child(4){
        width: fit-content;
        margin-bottom: 7.5px;
        font-size: 10px;
        line-height: 12px;
    }
    .description > .content > p:nth-child(4) > a {
        margin-left: 10px;
    }
    .regionButton > a{
        font-weight: bold;
        width: 62.8px;
        height: 17px;
        font-size: 8px;
        line-height: 10px;
        border: 3px solid var(--default-white);
    }
    .regionButton > a:hover{
        border: 3px solid var(--gray-f);
        cursor: pointer;
    }
}
@media (min-width: 640px) {
    .iconRegion{
        margin-right: 33px;
        margin-top: 22px;
        margin-bottom: 22px;
    }
    .Icon{
        width: 14.7px;
        height: 14.33px;
    }
    #ProjectPreviewContent{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 200px;
        min-height: 55vh;/*Verificar!*/
    }
    #ProjectPreviewContent > .preview{
        width: 50%;
        height: 100%;
        margin-bottom: 0px;
    }
    .descriptionRegion{
        width: 50%;
        height: fit-content;
    }
    .description{
        width: 236px;
        height: 159.89px;
        padding-left: 17px;
        padding-right: 17px;
    }
    .description > .content{
        width: fit-content;
        height: 117.91px;
    }
    .description > .content > h1{
        height: 12px;
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 1.67px;
    }
    .description > .content > p:nth-child(2){
        width: fit-content;
        margin-bottom: 1.67px;
        font-size: 8px;
        line-height: 10px;
    }
    .description > .content > p:nth-child(3){
        width: fit-content;
        margin-bottom: 1.67px;
        font-size: 8px;
        line-height: 10px;
    }
    .description > .content > p:nth-child(4){
        width: fit-content;
        margin-bottom: 13.33px;
        font-size: 8px;
        line-height: 10px;
    }
    .description > .content > p:nth-child(4) > a {
        margin-left: 10px;
    }
    .regionButton > a{
        font-weight: bold;
        width: 87.33px;
        height: 27.58px;
        font-size: 8px;
        line-height: 10px;
        border: 3px solid var(--default-white);
    }
    .regionButton > a:hover{
        border: 3px solid var(--gray-f);
        cursor: pointer;
    }
}
@media (min-width: 1024px) {
    .iconRegion{
        margin-right: 52.6px;
        margin-top: 31.46px;
        margin-bottom: 31.46px;
    }
    .Icon{
        width: 23.47px;
        height: 22.93px;
    }
    #ProjectPreviewContent{
        height: 320.02px;
        min-height: 15vh;
    }
    .description{
        width: 374px;
        height: 253.02px;
        padding-left: 27px;
        padding-right: 27px;
    }
    .description > .content{
        width: fit-content;
        height: 164.86px;
    }
    .description > .content > h1{
        height: 24px;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 2.67px;
    }
    .description > .content > p:nth-child(2){
        width: fit-content;
        margin-bottom: 3.54px;
        font-size: 12px;
        line-height: 14px;
    }
    .description > .content > p:nth-child(3){
        width: fit-content;
        margin-bottom: 3.54px;
        font-size: 12px;
        line-height: 14px;
    }
    .description > .content > p:nth-child(4){
        width: fit-content;
        margin-bottom: 21.33px;
        font-size: 12px;
        line-height: 14px;
    }
    .description > .content > p:nth-child(4) > a {
        margin-left: 14px;
    }
    .regionButton > a{
        font-weight: bold;
        width: 148.57px;
        height: 47.47px;
        font-size: 14px;
        line-height: 16px;
        border: 4px solid var(--default-white);
    }
    .regionButton > a:hover{
        border: 4px solid var(--gray-f);
        cursor: pointer;
    }
}
@media (min-width: 1360px) {
    .iconRegion{
        margin-right: 72px;
        margin-top: 43px;
        margin-bottom: 43px;
    }
    .Icon{
        width: 31.17px;
        height: 30.46px;
    }
    #ProjectPreviewContent{
        height: 425px;
        min-height: 60vh;
    }
    .description{
        width: 498px;
        height: 338px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .description > .content{
        width: 498px;
        height: 338px;
    }
    .description > .content > h1{
        height: 32px;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 3.54px;
    }
    .description > .content > p:nth-child(2){
        width: 427.17px;
        margin-bottom: 3.54px;
        font-size: 14px;
        line-height: 16px;
    }
    .description > .content > p:nth-child(3){
        width: 427.17px;
        height: 16px;
        margin-bottom: 3.54px;
        font-size: 14px;
        line-height: 16px;
    }
    .description > .content > p:nth-child(4){
        width: 427.17px;
        height: 16px;
        margin-bottom: 28.33px;
        font-size: 14px;
        line-height: 16px;
    }
    .description > .content > p:nth-child(4) > a {
        margin-left: 12.495px;
    }
    .regionButton > a{
        font-weight: bold;
        width: 184.29px;
        height: 63.42px;
        font-size: 20px;
        line-height: 24px;
        border: 4px solid var(--default-white);
    }
    .regionButton > a:hover{
        border: 4px solid var(--gray-f);
        cursor: pointer;
    }
}
@media (min-width: 1920px) {
    .iconRegion{
        margin-right: 98px;
        margin-top: 56px;
        margin-bottom: 56px;
    }
    .Icon{
        width: 44px;
        height: 43px;
    }
    #ProjectPreviewContent{
        height: 600px;
    }
    .description{
        width: 724.08px;
        max-width: 100%;
        height: 489.69px;
        max-height: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    .description > .content{
        width: 648.21px;
        height: 177.67px;
    }
    .description > .content > h1{
        height: 37px;
        font-size: 30.24px;
        line-height: 37px;
    }
    .description > .content > p:nth-child(2){
        width: 648.21px;
        height: 68.67px;
        margin-bottom: 10px;
        font-size: 17.64px;
        line-height: 21px;
    }
    .description > .content > p:nth-child(3){
        width: 421px;
        height: 21px;
        margin-bottom: 10px;
        font-size: 17.64px;
        line-height: 21px;
    }
    .description > .content > p:nth-child(4){
        width: 224px;
        height: 21px;
        margin-bottom: 69px;
        font-size: 17.64px;
        line-height: 21px;
    }
    .description > .content > p:nth-child(4) > a {
        margin-left: 17.64px;
    }
    .regionButton > a{
        width: 520.25px;
        height: 96.27px;
        font-size: 40px;
        line-height: 48px;
        border: 5px solid var(--default-white);
    }
    .regionButton > a:hover{
        border: 4px solid var(--gray-f);
        cursor: pointer;
    }
}