.headerAdjust{
    margin-bottom: 0px;
}
#ProjectPreview{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.iconRegion{
    display: flex;
    justify-content: flex-end;
}
.Icon{
    background-color: var(--default-white);
}
.backIcon{
    background: url("../assets/icons/Back.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#ProjectPreviewContent{
    display: flex;
    width: 100%;
    min-height: 60vh;
    background: var(--gray-d);
    box-shadow: var(--default-box-shadow)
}
#ProjectPreviewContent > .preview{
    width: 50%;
    height: 100%;
}
.descriptionRegion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    background: #6F848E;
}
.description > .content{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    max-width: 100%;
    max-height: 100%;
    color: var(--default-white);
}
.description > .content > h1{
    display: flex;
    align-items: center;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 600;
    color: inherit;
}
.description > .content > p:nth-child(2){
    display: flex;
    align-items: center;
    word-break: break-all;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 600;
    color: inherit;
}
.description > .content > p:nth-child(3){
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: inherit;
}
.description > .content > p:nth-child(4){
    display: flex;
    align-items: center;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 600;
    color: inherit;
}
.regionButton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.regionButton > a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    color: var(--gray-f);
    background: var(--gray-g);
    background: red;
    filter: drop-shadow(var(--default-box-shadow));
}
.regionButton > a:hover{
    color: var(--gray-f);
    background: var(--gray-g);
    cursor: pointer;
}
*{
    --base-resolution: 1920;
    --actual-resolution: 360;
    --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
}
@media (min-width: 375px) {
    *{
        --actual-resolution: 375;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
}
@media (min-width: 384px) {
    *{
        --actual-resolution: 384;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
}
@media (min-width: 412px) {
    *{
        --actual-resolution: 412;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
}
@media (min-width: 600px) {
    *{
        --actual-resolution: 600;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
}
@media (min-width: 640px) {
    *{
        --actual-resolution: 640;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
}
@media (min-width: 810px) {
    *{
        --actual-resolution: 810;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
}
@media (min-width: 900px) {
    *{
        --actual-resolution: 900;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
}
@media (min-width: 1024px) {
    *{
        --actual-resolution: 1024;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
}
@media (min-width: 1200px) {
    *{
        --actual-resolution: 1200;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
}
@media (min-width: 1360px) {
    *{
        --actual-resolution: 1360;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
}
@media (min-width: 1440px) {
    *{
        --actual-resolution: 1440;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
}
@media (min-width: 1920px) {
    *{
        --actual-resolution: 1920;
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
    }
}
*{
    --iconRegion-margin-right: calc(98px * var(--mult-factor));
    --iconRegion-margin-top-bottom: calc(56px * var(--mult-factor));
    --Icon-width-height: calc(44px * var(--mult-factor));
    --ProjectPreviewContent-height: calc(600px * var(--mult-factor));
    --description-width: calc(724.08px * var(--mult-factor));
    --description-height: calc(489.69px * var(--mult-factor));
    --description-padding-left-right: calc(30px * var(--mult-factor));
    --description-content-width: calc(648.21px * var(--mult-factor));
    --description-content-height: calc(177.67px * var(--mult-factor));
    --description-content-h1-height: calc(37px * var(--mult-factor));
    --description-content-h1-font-size: calc(30.24px * var(--mult-factor));
    --description-content-h1-line-height: calc(37px * var(--mult-factor));
    --description-content-p-margin-bottom-1: calc(10px * var(--mult-factor));
    --description-content-p-margin-bottom-2: calc(69px * var(--mult-factor));
    --description-content-p-font-size: calc(17.64px * var(--mult-factor));
    --description-content-p-line-height: calc(21px * var(--mult-factor));
    --description-content-p-a-margin-left: calc(10px * var(--mult-factor));
    --regionButton-a-width: calc(520.25px * var(--mult-factor));
    --regionButton-a-height: calc(96.27px * var(--mult-factor));
    --regionButton-a-font-size: calc(40px * var(--mult-factor));
    --regionButton-a-line-height: calc(48px * var(--mult-factor));
    --regionButton-a-border-size: calc(5px * var(--mult-factor));
    --ProjectPreviewContent-portrait-height: calc(1266.42px * var(--mult-factor));
    --ProjectPreviewContent-preview-portrait-width: calc(1677.1px * var(--mult-factor));
    --ProjectPreviewContent-preview-portrait-height: calc(839.42px * var(--mult-factor));
    --ProjectPreviewContent-preview-portrait-margin-bottom: calc(30px * var(--mult-factor));
    --description-portrait-height: calc(337px * var(--mult-factor));
    --description-portrait-padding-x: calc(50px * var(--mult-factor));
    --description-portrait-content-h1-font-size: calc(34px * var(--mult-factor));
    --description-portrait-content-h1-line-height: calc(40px * var(--mult-factor));
    --description-portrait-content-margin-bottom: calc(5px * var(--mult-factor));
    --description-portrait-content-p-font-size: calc(21px * var(--mult-factor));/*Verificar*/
    --description-portrait-content-p-line-height: calc(29px * var(--mult-factor));/*Verificar*/
    --description-portrait-content-p-4-margin-bottom: calc(40px * var(--mult-factor));
    --description-portrait-content-p-4-a-margin-left: calc(5px * var(--mult-factor));
    --regionButton-portrait-a-width: calc(262px * var(--mult-factor));
    --regionButton-portrait-a-height: calc(90px * var(--mult-factor));
    --regionButton-portrait-a-font-size: calc(24px * var(--mult-factor));
    --regionButton-portrait-a-line-height: calc(32px * var(--mult-factor));
    --regionButton-portrait-a-border-size: calc(5px * var(--mult-factor));
}

.iconRegion{
    margin-right: var(--iconRegion-margin-right);
    margin-top: var(--iconRegion-margin-top-bottom);
    margin-bottom: var(--iconRegion-margin-top-bottom);
}
.Icon{
    width: var(--Icon-width-height);
    height: var(--Icon-width-height);
}
#ProjectPreviewContent{
    height: var(--ProjectPreviewContent-height);
}
.description{
    width: var(--description-width);
    height: var(--description-height);
    max-width: 100%;
    max-height: fit-content;
    padding-left: var(--description-padding-left-right);
    padding-right: var(--description-padding-left-right);
}
.description > .content{
    width: var(--description-content-width);
    height: var(--description-content-height);
}
.description > .content > h1{
    height: var(--description-content-h1-height);
    font-size: var(--description-content-h1-font-size);
    line-height: var(--description-content-h1-line-height);
}
.description > .content > p{
    width: fit-content;
    margin-bottom: var(--description-content-p-margin-bottom-1);
    font-size: var(--description-content-p-font-size);
    line-height: var(--description-content-p-line-height);
}
.description > .content > p:nth-child(4){
    width: fit-content;
    margin-bottom: var(--description-content-p-margin-bottom-2);
}
.description > .content > p:nth-child(4) > a {
    margin-left: var(--description-content-p-a-margin-left);
}
.regionButton > a{
    width: var(--regionButton-a-width);
    height: var(--regionButton-a-height);
    font-size: var(--regionButton-a-font-size);
    line-height: var(--regionButton-a-line-height);
    border: var(--regionButton-a-border-size) solid var(--default-white);
}
.regionButton > a:hover{
    border: var(--regionButton-a-border-size) solid var(--gray-f);
    cursor: pointer;
}
@media (orientation: portrait) {
    #ProjectPreviewContent{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: var(--ProjectPreviewContent-portrait-height);
        min-height: fit-content;
        /*Verificar!*/
    }
    #ProjectPreviewContent > .preview{
        width: var(--ProjectPreviewContent-preview-portrait-width);
        height: var(--ProjectPreviewContent-preview-portrait-height);
        margin-bottom: var(--ProjectPreviewContent-preview-portrait-margin-bottom);
    }
    .descriptionRegion{
        width: var(--ProjectPreviewContent-preview-portrait-width);
        height: fit-content;
    }
    .description{
        width: 100%;
        height: var(--description-portrait-height);
        padding-left: var(--description-portrait-padding-x);
        padding-right: var(--description-portrait-padding-x);
    }
    .description > .content{
        width: 100%;
        height: fit-content;
    }
    .description > .content > h1{
        height: fit-content;
        font-weight: bold;
        font-size: calc(var(--description-portrait-content-h1-font-size) * 1);
        line-height: calc(var(--description-portrait-content-h1-line-height) * 1);
        margin-bottom: calc(var(--description-portrait-content-margin-bottom) * 1);
    }
    .description > .content > p{
        width: fit-content;
        margin-bottom: calc(var(--description-portrait-content-margin-bottom) * 1);
        font-size: calc(var(--description-portrait-content-p-font-size) * 1);
        line-height: calc(var(--description-portrait-content-p-line-height) * 1);
    }
    .description > .content > p:nth-child(4){
        margin-bottom: var(--description-portrait-content-p-4-margin-bottom);
    }
    .description > .content > p:nth-child(4) > a {
        margin-left: var(--description-portrait-content-p-4-a-margin-left);
    }
    .regionButton > a{
        font-weight: bold;
        width: var(--regionButton-portrait-a-width);
        height: var(--regionButton-portrait-a-height);
        font-size: calc(var(--regionButton-portrait-a-font-size) * 1);
        line-height: calc(var(--regionButton-portrait-a-line-height) * 1);
        border: var(--regionButton-portrait-a-border-size) solid var(--default-white);
    }
    .regionButton > a:hover{
        border: var(--regionButton-portrait-a-border-size) solid var(--gray-f);
        cursor: pointer;
    }
}